<%= form_tag(people_path, method: :get, role: 'form') do %>
  <div class='row'>
    <div class="form-group col-xs-6 col-md-4">
      <%= text_field_tag :term, nil, placeholder: 'Type your search person', class: 'form-control' %> 
      <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= submit_tag "Reset", class: "btn btn-default", type: 'reset', value: 'Reset' %>
    </div>
  </div>
<% end %>